<%- include('../partials/header') %>

<table class="horarios">
  <% const dias = ['Domingo','Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sabado'] %>
  <thead>
    <tr>
      <th></th>
      <% for (let j = 0; j < dias.length; j++) { %>
        <th><h4><span class="badge text-bg-dark"><%= dias[j] %></span></h4></th>
      <% } %>
    </tr>
  </thead>
  <% const horas = ['16:00', '17:00', '18:00', '19:00', '20:00', '21:00', '22:00', '23:00'] %>
  <tbody>
    <% for (let i = 0; i < horas.length; i++) { %>
      <tr>
        <td><h4><span class="badge text-bg-dark"><%= horas[i] %></span></h4></td>
        <% for (let j = 0; j < dias.length; j++) { %>
          <% let encontrado = false; %>
          <% let horarioEncontrado = null %>
          <% for (let k = 0; k < horarios.length; k++) { %>
            <% if (horarios[k].horario_dia == dias[j] && horarios[k].horario_hora == horas[i] && horarios[k].horario_disponibilidade == 'true') { %>
              <% encontrado = true; %>
              <% horarioEncontrado = horarios[k] %>
            <% } %>
            <% if (horarios[k].horario_dia == dias[j] && horarios[k].horario_hora == horas[i] && horarios[k].horario_disponibilidade != 'true') { %>
              <% encontrado = 'agendado'; %>
              <% horarioEncontrado = horarios[k] %>
            <% } %>
          <% } %>
          <td>
            <% if(encontrado == true) { %>
              <% console.log(horarioEncontrado.horario_id) %>
              <button id="<%= horarioEncontrado.horario_id %>" type="button" class="btn btn-success" onclick="handleButtonClick(this)">Disponível</button>
            <% } else { %>
              <% if(encontrado == 'agendado') { %>
                <button type="button" class="btn btn-warning disabled">Agendado</button>
              <% } else { %>
              <button type="button" class="btn btn-danger disabled">Fechado</button>
              <% } %>
            <% } %>
          </td>
        <% } %>
      </tr>
    <% } %>
  </tbody>
</table>


<div class="container-botoes">
  <div class="box-parent-login botoes">
      <div class="box-parent-login">
          <form role="form" action="/estabelecimentos/<%= nome %>">
              <fieldset>
                  <input type="submit" value="Voltar" class="btn btn-primary"/>
              </fieldset>
          </form>
      </div>
  </div>
  <div class="box-parent-login botoes">
      <div class="box-parent-login">
          <form role="form" action="/estabelecimentos/<%= nome %>/horarios">
              <fieldset>
                  <input type="submit" value="Limpar" class="btn btn-primary"/>
              </fieldset>
          </form>
      </div>
  </div>

  <div class="box-parent-login botoes">
      <div class="box-parent-login">
          <form role="form" action="">
              <fieldset>
                  <input type="submit" value="Agendar" class="btn btn-primary"/>
              </fieldset>
          </form>
      </div>
  </div>
  
</div>

<script>
  var horariosSelecionados = [];
  function handleButtonClick(button) {
    if (button.id) {
      //alert(button);
      // Realize a ação desejada com base no ID do botão clicado
      button.textContent = "Selecionado";
      button.style.backgroundColor = 'black';
      horariosSelecionados.push(button.id);
    } else {
      alert("Botão Falso foi clicado.");
      // Realize a ação desejada para o botão Falso
    }

    /*alert(horariosSelecionados);*/
  }
  
</script>

<%- include('../partials/footer') %>